/*alert closebtn*/
.close{
    cursor: pointer;
    border: 0px;
    background-color:#f8f9fa;
    float: right;
}
.close:hover{
    color: #C1AEA5;
}
/*kontakt_formular umiestnenie,styl,polia*/
form{
    border: solid #7C6256;
    background-color: #C1AEA5;
    color:ghostwhite;
}
.kontakt-nadpis{
    letter-spacing: 7px;
}
input[type=text],input[type=email]{
    color: #7C6256;
    background-color: white;
    border: solid #7C6256;
    border-radius: 12px;
}
textarea{
    color: #7C6256;
    background-color: white;
    border: solid #7C6256;
    resize: none;
    height: 150px;
}
input[type=checkbox]{
    accent-color: #7C6256;
    height: 20px ;
    width: 20px;
}
input[type=submit]{
    color: ghostwhite;
    background-color: #7C6256;
    border: solid #7C6256;
    text-transform: uppercase ;
}
input[type=submit]:hover{
    color: #7C6256;
    background-color: #E8DBD5;
}
/*kontakt_formular umiestnenie,styl,polia*/