.password-input {
    position: relative;
}

.password-input input[type="password"] {
    padding-right: 30px;
}

.password-input .toggle-password {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}