/*thank you page*/
.obrazok_thanks img{
    max-width: 45%;
    max-height: 50%;
}
.domov_btn{
    text-decoration: none;
    border: solid 2px #7C6256;
    border-radius: 12px;
    color: ghostwhite;
    background-color: #7C6256;
}
.domov_btn:hover{
    background-color: #E8DBD5;
}
/*thank you page*/